<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Profile</title>
  </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding: 0; background-image: url('/static/images/background.jpg'); background-size:cover; background-repeat:no-repeat; height:100vh">
                <div class="accordion" id="accordionExample" style="margin: 10%;">
                    <div class="card" id = 'accordion1' style="background-color: #FFAF94;">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: black; font-size : 36px;">
                            Current Activities
                          </button>
                          <button class="button" name="up1" onclick="up(accordion1)" style="position: absolute; right:5%; background-color:transparent; border:none;" >▲</button>
                          <button class="button" name="down1" onclick="down(accordion1)" style="position: absolute; right:10%; background-color:transparent; border:none;">▼</button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>Stay at home</li>
                                <li>Learning Web Design</li>
                                <li>Playing games</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card" id = 'accordion2' style="background-color: #FFAF94;">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: black; font-size : 36px;">
                            Organizational Experience
                          </button>
                          <button class="button" name="up2" onclick="up(accordion2)" style="position: absolute; right:5%; background-color:transparent; border:none;" >▲</button>
                          <button class="button" name="down2" onclick="down(accordion2)" style="position: absolute; right:10%; background-color:transparent; border:none;">▼</button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          <ul>
                              <li>None feelsbadman</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card" id = 'accordion3' style="background-color: #FFAF94;">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: black; font-size : 36px;">
                            Committee experience
                          </button>
                          <button class="button" name="up3" onclick="up(accordion3)" style="position: absolute; right:5%; background-color:transparent; border:none;" >▲</button>
                          <button class="button" name="down3" onclick="down(accordion3)" style="position: absolute; right:10%; background-color:transparent; border:none;">▼</button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>Bynamic committee in HS</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card" id = 'accordion4' style="background-color: #FFAF94;">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: black; font-size : 36px;">
                                Achievements
                            </button>
                            <button class="button" name="up3" onclick="up(accordion4)" style="position: absolute; right:5%; background-color:transparent; border:none;" >▲</button>
                          <button class="button" name="down3" onclick="down(accordion4)" style="position: absolute; right:10%; background-color:transparent; border:none;">▼</button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
                            <ul>
                                <li>Best programmer in my house</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
       
        
            </div>
        </div>

        
      

    
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    
    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>
</body>

  <script type="text/javascript">
    //###########ACCORDION#################
    function up(id) {
        var currAcc =  $(id);
        var nextAcc = currAcc.prev();
        nextAcc.insertAfter(currAcc);
    }
    function down(id) {
        var currAcc = $(id);
        var nextAcc = currAcc.next();
        nextAcc.insertBefore(currAcc);
    }


   
  </script>

</html>